.bdstyl__item_button-action {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #f3b5f9;
  color: #18bf45;  
  border-radius: 100%;
  margin-right: 10px;

 
}

.bdstyl__item_button-action:hover {
  cursor: pointer;
  color: #00fd87;
  box-shadow: 0 0 10px #270e2a;
}

.bdstyl__item_button-action :after {
  margin-top: 7px;;
  margin-left: -5px;
  width: 10px;
  height: 10px;
  content: ' ';
  border-bottom: 2px solid #270e2a;
  border-left: 2px solid #270e2a;
  display: block;
  transform: rotate(225deg);
}