<style>
        .scrollmenu{
            width: 350px;
            height: 390px;
            overflow-y: scroll;
            scrollbar-width: none;
        }

        .bdstyl__item_button-action {
            span {
              display: block;
            }
        }
</style>

<li class="bdstyl__item {{completedClass}}">
  
  <form action="/complete" method="post" class="bdstyl__item_form-todo">
  <span>{{ name }}</span>
    <a class="bdstyl__item_button-action" href="/torgovcentr">
        <span class="bdstyl__item_form-text"></span>
    </a>
    
  </form>
</li>


