
</div>
  </main>
</body>
<footer>
    <div class="mobile_bottom">
                <img src="images/bottom.svg">
            </div>
        </div>
        <script src="script.js"></script>
  </footer>  
</html>
<!--проблема!-->