<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css"> <!--подключение стилей-->
    <meta name="description" content="{{ description }}">
    <title>{{ title }}</title>
    <title>Приложение</title>
</head>

    <body class="body">
        <div class="mobile">
        <div class="mobile_top">
            <img src="images/top.svg">
        </div>
          <div class="mobile_content">    
            <header class="header">
              <div class="container">
                <div class="wellcome">
                  <h1>{{ h1 }}</h1>
                    <p class="wellcome__text">
                      {{{ text }}}
                    </p>
                  
                </div>
                <nav class="header__nav">
                  <a href="/" class="header__nav_link nav-button">
                    <div>
                      <span class="material-symbols-outlined button__icon">
                        Категории
                      </span>
                    </div>
                    <div>
                      
                    </div>
                  </a>
                  <a href="/new" class=" header__nav_link nav-button">
                    <div>
                      <span class="material-symbols-outlined button__icon">
                        
                      </span>
                    </div>
                    <div>
                      Места <!--кнопка для перехода на другую страницу-->
                    </div>
                  </a>
                </nav>
              </div>
  
  </header>

  <main>
    <div class="mobile_content">
    <div class="container">
    
    