<div class = 'scrollmenu'>
  <div class="todos">
    {{#if list.length}}
      <ul class="todos__list">
        {{#each list}}
          {{> card }}
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
