.bdstyl__item_form-text {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.bdstyl__item_complited .bdstyl__item_form-text {
  color: rgba(0, 0, 0, .6);
  text-decoration: line-through;
}