.nav-button {
  background-color: rgb(227, 154, 245);;
  color: #000;
  border: 2px solid #f3b5f9;
  text-decoration: none;
  width: 120px;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 0 32px; 
  display: block;
}


.nav-button:hover {
  box-shadow: 2px 2px 3px #ebebeb;
  font-weight: 700;
}